<div class="container" style="background-color: white;">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <% if @user.twitter.present? %>
        <p>TWITTER: <%= @user.twitter %> (<%= link_to 'unlink twitter', remove_twitter_authentication_profile_path, method: :post %>)</p>
      <% else %>
        <p>
          <%= link_to t('twitter.link'), auth_path(:twitter) %>
        </p>
      <% end %>
      <p>USERNAME: <strong><%= @user.username %></strong></p>

      <p>EMAIL: <%= @user.email %></p>

      <p><%= link_to t('user.update.password'), edit_user_registration_path %></p>
    </div>
    <div class="col-xs-12 col-md-8">
      <% if @user.posts.present? %>
        <%= render partial: "posts" %>
      <% else %>
        <%= render partial: "sell_something" %>
      <% end %>
    </div>

  </div>
</div>
