<div class="well">

  <h1>Choose a new password for username: <code><%= @user.username %></code></h1>
  <%= simple_form_for @user, :url => password_reset_path(@user), :method => 'put' do |f| %>
    <div class="field">
      <%= f.input :password %>
    </div>
    <div class="field">
      <%= f.input :password_confirmation %>
      <%= hidden_field_tag :token, @token %>
    </div>
    <div class="actions">
      <%= f.button :submit, class: "btn btn-inverse", data: { disable_with: "loading..." } %>
    </div>
  <% end %>
</div>
