<!-- footer starts here -->
<footer class="footer">
  <hr>
  <ul class="nav nav-pills">
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Twitter", twitter_path %></li>
    <li><%= link_to "Blog", blog_route %></li>
    <li><%# link_to "Facebook", facebook_path %></li>
  </ul>
    <% if current_admin %>
    <ul class="nav nav-pills pull-left">
      <li><%= link_to "ADMIN: SIZES", sizes_path %></li>
      <li><%= link_to "ADMIN: BLOG", blog_route(:admin_login_path) %></li>
    </ul>
    <% end %>
</footer>
<!-- footer end here -->
