<!-- footer starts here -->
<footer class="footer">
  <hr>
  <div class="row-fluid">
    <div class="span2 pull-right">
      <a href="https://twitter.com/solesout" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @solesout</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>

  <ul class="nav nav-pills">
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Twitter", twitter_path %></li>
    <li><%# link_to "Facebook", facebook_path %></li>
  </ul>


    <% if current_admin %>
      <ul>
        <li><%= link_to "ADMIN: SIZES", sizes_path %></li>
        <li><%= link_to "ADMIN: Reset Passwords", users_index_path %></li>
        <li>user count: <span class="badge"><%= user_count %></span></li>
        <li>post count: <span class="badge"><%= post_count %></span></li>
        <li>image count: <span class="badge"><%= image_count %></span></li>
        <li>dollar count: <span class="badge"><%= dollar_count %></span></li>
      </ul>
    <% end %>
</footer>
<!-- footer end here -->
