<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar button-collapse" data-toggle="collapse" data-target=".col2">
        <i class='icon-user icon-white'></i>
      </button>
      <button type="button" class="btn btn-navbar pull-left button-collapse" data-toggle="collapse" data-target=".col1">
        <i class='icon-cog icon-white'></i>
      </button>
      <a class="pull-left" id="logo" href="/">
        <%= white_logo %>
      </a>
      <div id="main-nav">
        <div class="nav-collapse col1">
          <ul class="nav header-nav" id="left-nav">
            <li><%= link_to "Top", filters_path(:top, :all)  %></li>
            <li><%= link_to "Bottom", filters_path(:bottom, :all) %></li>
            <li><%= link_to "Old", filters_path(:oldest, :all) %></li>
            <li><%= link_to "New", filters_path(:newest, :all) %></li>
          </ul>
        </div>
        <div class="nav-collapse col2">
          <ul class="nav header-nav create">
            <li><%= link_to("Create Account", new_user_path) unless current_user %></li>
            <li><%= link_to("Login", login_path) unless current_user %></li>
          </ul>
          <%= simple_form_for :search, method: :get, url: posts_path, html: {class: "navbar-form pull-left", id: "header-nav"} do |f| %>
            <%= f.search_field :query, placeholder: "search... BETA", class: "header-user", id: 'st-search-input' %>
          <% end %>
          <% if current_user %>
            <ul class="nav pull-right header-nav" id="right-nav">
              <li><%= link_to new_post_path do %>
                <i class='icon-fire icon-white'></i> New Pair
              <% end %></li>
              <li><%= link_to profile_path do %>
                <i class='icon-user icon-white'></i> Profile
              <% end %></li>
              <li><%= link_to profile_watching_path do %>
                <i class='icon-star-empty icon-white'></i> Watching
              <% end %></li>
              <li><%= link_to logout_path, class: "log"  do %>
                <i class='icon-off icon-white'></i> Logout 
              <% end %></li>
            </ul>
          <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>