<li class="list-group-item">
  <%= image_tag("sold-out-stamp-large.png",size:"100", style: "position:absolute;left:0;top:20px;") if new_post.sold?  %>
  <%= link_to new_post do %>
    <% if new_post.images.count > 0 %>
      <%= image_tag new_post.images.first.url_size(65) , class: 'img-rounded' %>
    <% else %>
      <%= image_tag "http://placehold.it/65x65", class: 'img-rounded' %>
    <% end %>
  <% end %>

  <%= link_to root_path do  %>
    <p>
      link to root
    </p>
    <%= image_tag("facebook.gif")  %>
  <% end %>


  <%= content_tag :span do  %>
    <%= link_to '<i class="icon-arrow-up icon-white"></i>'.html_safe, upvote_post_path(new_post), class: "label label-inverse" %>
    [<%= new_post.score %>]
    <%= link_to '<i class="icon-arrow-down icon-white"></i>'.html_safe, downvote_post_path(new_post), class: "label" %>
  <% end %>
  <%= link_to post_title(new_post), new_post %>
  Listed by: <%= link_to "#{new_post.user.username} (#{new_post.user.score})", user_path(new_post.user) %>
  <span class="label">views: <%= new_post.view_count %></span>      
  <%= render partial: "watched_items/watched_item", locals: {post: new_post} %>
</li>




