<div class="col-xs-12 col-sm-6 col-md-3">
  <% if post.sold? %>
    <%= image_tag('sold-out-stamp-large.png', size: '100', style: 'position:absolute;left:0;top:20px;') %>
  <% end %>

  <%= link_to post do %>
    <% if post.images_count > 0 %>
      <% if mobile_device? %>
        <%= image_tag post.images.first.url_size(370),
                      class: 'img-responsive img-rounded'%>
      <% else %>
        <%= image_tag post.images.first.url_size(215),
                      onload: 'this.style.opacity=1',
                      class: 'img-responsive transparent post-index-image ' %>
      <% end %>
    <% end %>
  <% end %>

  <div>
    <%= link_to truncate(post.title, length: 40), post, class: 'title' %>
  </div>

  <div>
    <%= link_to number_to_currency(post.price, precision: 0), post, class: 'title' %> -
    <%= link_to post.user.username, user_path(post.user), class: 'author' %>
  </div>
</div>
