<div class="grid-item">
  <% if post.sold? %>
    <%= image_tag('sold-out-stamp-large.png', size: '100', style: 'position:absolute;left:0;top:20px;') %>
  <% end %>

  <%= link_to post, title: "view #{post.title}" do %>
    <% if post.images_count > 0 %>
      <% if mobile_device? %>
        <%= image_tag post.images.first.url_size(370),
                      onload: 'this.style.opacity=1',
                      class: 'img-responsive'%>
      <% else %>
        <%= image_tag post.images.first.url_size(215),
                      onload: 'this.style.opacity=1',
                      class: 'img-responsive transparent post-index-image ' %>
      <% end %>
    <% end %>
  <% end %>

  <div class="hidden-xs hidden-sm">
    <div class="truncate">
      <%= link_to truncate(post.title, length: 40), post, class: 'title' %>
    </div>

    <div>
      <%= link_to post.user.username, user_path(post.user), class: 'author' %>
      <%= link_to number_to_currency(post.price, precision: 0), post, class: 'title pull-right', title: "buy #{post.title}" %>
    </div>
  </div>
</div>
