

<% if current_user && current_user.id == @post.user_id %>
  <%= link_to edit_post_path(@post), class: "btn btn-inverse" do %>
    <i class="icon-edit icon-white"></i>  
    Edit Post
  <% end %>

  <%= render partial: 'shared/filepicker' %>
  
  <div class="status-update">
    <strong>Current Status:</strong>
    <%= simple_form_for @post do |f| %>
      <%= f.input :status_enum, collection: @post.valid_statuses, label_method: lambda {|key| key[0].to_s.titleize }, prompt: @post.status, required: false, label:false  %>
      <%= f.submit class: "btn btn-inverse btn-mini" %>
    <% end %>
  </div>
  
<% end %>

