<div class="list-group-item" id="post-<%= post_counter %>">
  <div class="left-panel">

    <div class="snapshot">
      <% if try(:post_counter) %>
        <span><%= post_counter + 1 + @posts.offset_value %></span>
      <% end %>
      <%= image_tag("sold-out-stamp-large.png",size:"100", style: "position:absolute;left:0;top:20px;") if post.sold?  %>
      <%= link_to post do %>
        <% if post.images.count > 0 %>
          <%= image_tag post.images.first.url_size(100) , class: 'img-rounded' %>
        <% else %>
          <%= image_tag "http://placehold.it/100x100", class: 'img-rounded' %>
        <% end %>
      <% end %>
    </div>

    <%= div_for post, class: 'title' do %>
      <%= link_to post_title(post), post %>
    <% end %>

    <%= div_for post.user, class: 'author' do |user| %>
      <%= link_to "#{user.username} (#{user.score})", user_path(post.user), id: "author-#{post_counter}" %>
    <% end %>
  </div>

  <div class="right-panel">
    <div class="votes">
      <%= link_to '<i class="icon-arrow-up icon-white"></i>'.html_safe, upvote_post_path(post), data: remote_options, class: "label upvote"%>
      <a class="score label"><%= post.score %></a>
      <%= link_to '<i class="icon-arrow-down icon-white"></i>'.html_safe, downvote_post_path(post), data: remote_options, class: "label downvote" %>
    </div>
    
    <div class="watch">
      <span class="">
        <% if current_user && current_user.watching?(post) %>
          <span class="label label-inverse">
            watching
            <%= link_to post_watched_item_path(post, current_user.watching(post)), method: :delete do %>
              <i class="icon-remove icon-white"></i>
            <% end %>
          </span>
        <% else %>
          <%= link_to post_watched_items_path(post), method: :post, class: "btn btn-inverse btn-watch btn-mini" do %>
            Watch<i class="icon-star icon-white"></i>
          <% end %>
        <% end %>
      </span>
    </div>

  </div>
</div>