<% content_for :title, @post.post_title.to_s  %>
<%= render partial: 'shared/filepicker' %>
<div class="row-fluid">
  <div class="span3">
    
    <p><strong>Score: </strong><%= @post.score %></p>
    <p><strong>User Score: </strong><%= @profile.score %></p>
    <p><strong>User Influence: </strong><%= @profile.influence %></p>
    <p><strong>Views: </strong><%= @post.view_count %></p>
    <p><strong>Brand: </strong><%= @post.brand %></p>

    <p><strong>Title: </strong><%= @post.title %></p>

    <p><strong>Size: </strong><%= @post.size.name %></p>

    <p><strong>Price: </strong><%= @post.price %></p>

    <p><strong>Description:</strong><%= @post.body %></p>
  </div>
</div>

<ul class="thumbnails">
  <%= render partial: 'image', collection: @post.images, locals: {p_id: @post.user_id} %>
</ul>

<ul class="comments">
  <%= render partial: "comments/comment", collection: @post.comments %>
  <% if current_user %>
    <%= simple_form_for [@post, @post.comments.build(post_id: @post.id)] do |f| %>
      <%= f.input :body, input_html: {rows: 6} %>
      <%= f.submit :submit, class: 'btn btn-mini btn-inverse' %>
    <% end %>
  <% end %>
</ul>
