<div class="well">
    <% content_for :title, post_title(@post).to_s    %>
    <div class="row-fluid">
        <div class="span6">
            <h2><%= @post.title %></h2>

            <table class="table voting">
            <tr>
                <td>
                    <%= link_to upvote_post_path(@post), class: "label label-inverse upvote" do %>
                    <i class="icon-arrow-up icon-white"></i>
                    <span class="visible-desktop">UPVOTE</span>
                    <% end %>
                </td>
                <td>
                    <strong>Score: </strong><%= @post.score %></span>
                </td>
                <td>
                    <%=link_to downvote_post_path(@post), class: "label downvote" do    %>
                    <span class="visible-desktop">DOWNVOTE</span>
                    <i class="icon-arrow-down icon-white"></i>
                    <% end %>  
                </td>
            </tr>

            </table>


            <table class="table about-item">
                <tr>
                  <td width="10p"><strong>Description</strong></td>
                  <td><%= @post.body %></td>
                </tr>
                <tr>
                  <td><strong>Brand</strong></td>
                  <td><%= @post.brand %></td>
                </tr>
                <tr>
                  <td><strong>Size</strong></td>
                  <td><%= @post.size.name %></td>
                </tr>
                <tr>
                  <td><strong>Owner</strong></td>
                  <td><%= @post.user.username %></td>
                </tr>
                <tr>
                    <td><strong>Price</strong></td>
                    <td><%= number_to_currency(@post.price, precision: 0) %></td>
                </tr>
                <tr>
                    <td>
                        <%= render partial: "posts/post/#{@post.status}", locals: {post: @post, user: @post.user} %>
                    </td>
                    <td>
                        <a href="https://twitter.com/share" data-url="http" data-counturl=" http" class="twitter-share-button" data-lang="en" data-count='none' data-text="<%= verbose_post_title @post %>">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </td>
                </tr>
            </table>
            <div class="list-group">
                <div class="list-group-item comments">
                    <span class="badge">1</span>
                    <h4 class="list-group-item-heading">Comments</h4>
                </div>
                <%= render partial: "comments/comment", collection: @post.comments %>
                <% if current_user %>
                    <div class="list-group-item">
                        <h3 class="list-group-item-heading">Submit a Comment</h3>
                        <%= simple_form_for [@post, @post.comments.build(post_id: @post.id)] do |f| %>
                            <%= f.input :body, input_html: {rows: 6}, label: false %>
                            <br>
                            <%= f.submit :submit, class: 'btn btn-inverse' %>
                        <% end %>
                    </div>
                <% end %>        
            </div>
        </div>
        <div class="span6">
            <ul class="thumbnails">
                <%= render partial: 'image', collection: @post.images, locals: {p_id: @post.user_id} %>
            </ul>
            <div>
                <%= render partial: "post_owner_actions" %>
            </div>
        </div>
    </div>



</div>
<!-- twitter card starts here -->
<%= render partial: "twitter_card", locals: {post: @post}    %>
<!-- twitter card ends here -->
</div>