<% content_for :title, post_title(@post).to_s %>

<div class="row-fluid">
  <% if @post.images_count > 0 %>
    <div class="col-sm-8 col-xs-12 well">
        <%= render partial: 'image', collection: @post.images, locals: {p_id: @post.user_id} %>
      <div>
        <%= render partial: 'post_owner_actions' %>
      </div>
    </div>
  <% end %>
  <%= content_tag :div, class: "col-xs-12 well #{@post.images_count > 0 ? 'col-sm-4' : 'col-sm-12'}" do %>

    <p><strong>Price:</strong><%= number_to_currency(@post.price, precision: 0) %></p>
    <h2><%= @post.title %></h2>
    <dl>
      <dt>Size</dt>
      <dd><%= @post.size.name %></dd>
      <dt>Seller</dt>
      <dd><%= link_to @post.user.username, user_path(@post.user), title: "see all the postings by #{@post.user.username}" %></dd>
      <dt>Description</dt>
      <dd><%= @post.body %></dd>
      <dt>Views</dt>
      <dd><%= @post.impressions_count %></dd>
      <dt>Status</dt>
      <dd><%= @post.status %></dd>
    </dl>
    <table class="table about-item">
      <tr>
        <td>
          <%= render partial: "posts/post/#{@post.status}", locals: {post: @post, user: @post.user} %>
        </td>
      </tr>
    </table>
    <div class="list-group">
      <div class="list-group-item comments">
        <span class="badge"><%= @post.comments.count %></span>
        <h4 class="list-group-item-heading">Comments</h4>
      </div>
      <%= render partial: "comments/comment", collection: @post.comments %>
      <div class="list-group-item">
        <% if current_user %>
          <h3 class="list-group-item-heading">Submit a Comment</h3>
          <%= simple_form_for [@post, @post.comments.build(post_id: @post.id)] do |f| %>
            <%= f.input :body, input_html: {rows: 6}, label: false %>
            <br>
            <%= f.submit :submit, class: 'btn btn-inverse' %>
          <% end %>
        <% else %>
          <%= link_to "Login to Comment", login_path %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>

<!-- facebook meta -->
<%= render partial: "elements/meta", object: {
  title: "#{@post.title}, size: #{@post.size.name} #{number_to_currency(@post.price, precision: 0)}",
  type: 'pair',
  info: @post.body,
  published_at: @post.created_at,
  popularity: @post.cached_votes_score,
  id: @post.id,
} %>
<!--end facebook meta-->
<!-- twitter meta -->
<%= render partial: "twitter_card", locals: {post: @post} %>
<!-- end twitter meta -->