<% if mobile_device? %>
  <button type="button" class="hidden-desktop collapsed btn btn-default btn-block" data-toggle="collapse" data-target="#filter-nav">
    Toggle filters
  </button>
  <div class="collapse navbar-collapse" id="filter-nav">
    <ul class="nav nav-pills nav-stacked">
      <% @valid_sorts.each do |sort, title| %>
        <li><%= link_to title, filters_path(sort.to_sym, @filter), class: "btn btn-sm #{current_page?(filters_path(sort.to_sym, @filter)) ? "btn-danger" : "btn-default"} btn-block" %></li>
      <% end %>
    </ul>
    <ul class="nav nav-pills nav-stacked">
      <% @valid_filters.each do |filter, title| %>
        <li><%= link_to title, filters_path(@sort, filter), class: "btn btn-sm #{current_page?(filters_path(@sort, filter)) ? "btn-info" : "btn-default"} btn-block" %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <h2>Sort</h2>
  <div class="btn-group-vertical" style="display: block;">
    <% @valid_sorts.each do |sort, title| %>
      <%= link_to title, filters_path(sort.to_sym, @filter), class: "btn btn-sm #{current_page?(filters_path(sort.to_sym, @filter)) ? "btn-danger" : "btn-default"} btn-block" %>
    <% end %>
  </div>
  <!--this head is a title helper-->
  <%= header "#{@valid_filters[@filter.to_s].upcase} | #{@sort.upcase}" %>

  <h2>Filter</h2>
  <div class="btn-group-vertical" style="display: block;">
    <% @valid_filters.each do |filter, title| %>
      <%= link_to title, filters_path(@sort, filter), class: "btn btn-sm #{current_page?(filters_path(@sort, filter)) ? "btn-info" : "btn-default"} btn-block" %>
    <% end %>
  </div>

<% end %>







