<div>
  <div class="col-xs-12 col-sm-3">
    <%= render "filter_nav" %>
  </div>
  <div class="col-xs-12 col-sm-9" style="background-color: white;padding: 20px 5px;">
    <% cache(@posts) do %>
      <%= render @posts %>
    <% end %>
  </div>

  <div class="row-fluid">
    <div class="col-xs-12">
      <ul class="pager">
        <li class="previous"><%= link_to_previous_page @posts, "previous" %></li>
        <li class="next"><%= link_to_next_page @posts, "next" %></li>
      </ul>
      <p class="lead entries-info"><%= page_entries_info @posts %></p>
    </div>
  </div>
</div>
