<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> <%= site_title %>, Buying Shoes, Selling Shoes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="google-site-verification" content="q6v9pd9XSk1f_V1QSOisUMSGDGY72yHlun_gMKr7_uw" />
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"%>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'shared/header_nav' %>
<% if notice %>
  <p class="alert container">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
  </p>
<% end %>
<% if alert %>
  <p class="alert container">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= alert %>
  </p>
<% end %>
<div class='container'>
  <div class="row-fluid">
    <div class="span12">
      <%= yield %>
    </div>
  </div>
  <%= render partial: "shared/footer" %>
</div>

<%= render partial: 'layouts/analytics' %>
</body>
</html>
