<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> <%= site_title %>, Buying Shoes, Selling Shoes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="google-site-verification" content="q6v9pd9XSk1f_V1QSOisUMSGDGY72yHlun_gMKr7_uw"/>
  <%= robots %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<%= render partial: 'shared/header_nav' %>
<% if alert %>
  <script>
    $(document).ready(function () {
      showYolobar("<%= alert %>", "error", {})
    })
  </script>
<% end %>
<% if notice %>
  <script>
    $(document).ready(function () {
      showYolobar("<%= notice %>", "notice", {})
    })
  </script>
<% end %>

<%= yield %>
<%= render partial: 'shared/footer' %>
<%= render partial: 'layouts/analytics' %>
<%= yolobars %>
</body>
</html>
