<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> <%= site_title %>, Buying Shoes, Selling Shoes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="google-site-verification" content="q6v9pd9XSk1f_V1QSOisUMSGDGY72yHlun_gMKr7_uw" />
  <%= robots %>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"%>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'shared/blog/header_nav' %>

<% if @notifications.present? %>
  <%= render partial: 'shared/notices_alerts_popups' %>
<% end %>
<div class='container'>
  <div class="row-fluid">
    <div class="span12">
      <%= yield %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <!-- footer starts here -->
      <footer class="footer">
        <%= render partial: "shared/footer" %>
      </footer>
      <!-- footer end here -->
    </div>
  </div>
</div>
  <%= render partial: 'layouts/analytics' %>
</body>
</html>
